<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="hishi.com">
    <meta name="revised" content="v1.1 2016/04/11">
    <title>嘿设汇</title>
    <link rel="shortcut icon" href="__IMG__/sitelogo.ico"/>
    <script>
        window.urlObject= {
            js: "__JS__",
            css: "__CSS__",
            image: "__IMG__",
        };
        console.log('迅牛科技--嘿设汇(hisihi.com)。前端攻城师！we are waiting for you!');
    </script>
</head>
<body>
主页
</body>
</html>